<h1>These are my friends</h1>

<% friends.forEach( function(friend){ %>
<li> <%= friend %> </li>
<% }) %>

<form action="/addfriend" method="POST">
    
    <input name="name" placeholder="name" type="text">
    <button>I made a new friend!</button>
    
    
</form>