<h1>You are here to add new blogs!</h1>

<form action="/blogs" method="POST">
    <label for="title">Blog Title</label>
    <input name="blog[title]" type="text" placeholder="title">
    <label for="image">Image url</label>
    <input name="blog[image]" type="text" placeholder="image url">
    <textarea name="blog[body]"></textarea>
    <input type="submit">
</form>